[Unit]
Description=Dump Pinboard bookmarks

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backitup -p 28800 -l %h/.pinboard-backup -b %h/bin/pinboard-backup.sh

[Install]
WantedBy=multi-user.target
