# Ignore vim's netrw history
.netrwhist

# Ignore vimperator's info directory
vimperator/info

# Ignore vim's spelling word lists
vim/spell

# Ignore all xmonad files, except the config
xmonad/*
!xmonad/xmonad.hs

# Ignore mutt mailboxes
mutt/mailboxes

# Ignore mutt work-specific settings
mutt/workrc

# Ignore the beets runtime state
config/beets/state.pickle
