# Ignore vim's netrw history
.netrwhist

# Ignore vimperator's info directory
vimperator/info

# Ignore vim's spelling word lists
vim/spell

# Ignore vim bundles, except Vundle
vim/bundle/*
!vim/bundle/vundle

# Ignore tmux plugins, except Tmux Plugin Manager
tmux/plugins/*
!tmux/plugins/tpm
!tmux/plugins/tmux-urlview

# Ignore tmux resurrection
tmux/resurrect/*

# Ignore all xmonad files, except the config
xmonad/*
!xmonad/xmonad.hs

# Ignore mutt mailboxes
mutt/mailboxes

# Ignore mutt work-specific settings
mutt/workrc

# Ignore the beets runtime state
config/beets/state.pickle

# Ignore rofi-pass last password used
config/rofi-pass/last_used

# Ignore ncmpcpp error log
ncmpcpp/error.log

# Ignore weechat stuff
weechat/gs/
weechat/xfer/
weechat/logs/
weechat/script/*gz
weechat/plugins/wnot.so
weechat/*.log
weechat/urlserver_list.txt
weechat/sec.conf
weechat/slack.cache

# Ignore ranger stuff
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged

# Ignore mpd stuff
config/mpd/playlists
config/mpd/database
config/mpd/log
config/mpd/pid
config/mpd/state
sticker.sql
