[submodule "mutt/solarized"]
	path = mutt/solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "weechat/urlview"]
	path = weechat/urlview
	url = https://github.com/keith/urlview-weechat
[submodule "weechat/wee-slack"]
	path = weechat/wee-slack
	url = https://github.com/rawdigits/wee-slack
[submodule "weechat/vimode"]
	path = weechat/vimode
	url = https://github.com/GermainZ/weechat-vimode
[submodule "weechat/weemoji"]
	path = weechat/weemoji
	url = https://github.com/kattrali/weemoji
