# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
        colors = true
{{- $variant := includeTemplate "tinty-variant" . }}
        # Derived from the scheme tinty currently has applied. These must
        # match what tinty-hook-misc writes, or chezmoi apply will prompt.
        color_good = "{{ if eq $variant "light" }}#79740e{{ else }}#98971a{{ end }}"
        color_bad = "{{ if eq $variant "light" }}#9d0006{{ else }}#fb4934{{ end }}"
        interval = 5
}

order += "msmtpq"
order += "backlight"
order += "volume master"
order += "wireless wlp1s0"
order += "ethernet eth0"
order += "battery 1"
order += "load"
order += "tztime local"

backlight {
        cache_timeout = 5
}

wireless wlp1s0 {
        format_up = "W: (%quality at %essid) %ip"
        format_down = "W: down"
        color_bad = "{{ if eq $variant "light" }}#665c54{{ else }}#bdae93{{ end }}"
}

ethernet eth0 {
        # if you use %speed, i3status requires root privileges
        format_up = "E: %ip (%speed)"
        format_down = "E: down"
        color_bad = "{{ if eq $variant "light" }}#665c54{{ else }}#bdae93{{ end }}"
}

battery 1 {
        format = "%status %percentage %remaining"
        format_down = "No battery"
        integer_battery_capacity = true
        status_chr = "⚇  CHR"
        status_bat = "⚡ BAT"
        status_full = "☻ FULL"
        low_threshold = 10
        path = "/sys/class/power_supply/BAT%d/uevent"
}

tztime local {
        format = "%Y-%m-%d %a %H:%M:%S"
}

load {
        format = "%5min"
        max_threshold = "10"
}

volume master {
    format = "♪: %volume"
    device = "default"
    mixer = "Master"
    mixer_idx = 0
}
