[Unit]
Description=Restic Maintenance Timer (b2)
PartOf=restic.target

[Timer]
Unit=restic-maintenance@b2.service
OnCalendar=daily
RandomizedDelaySec=15min
Persistent=True

[Install]
WantedBy=restic.target
