[Unit]
Description=Restic failure notification (%i)

[Service]
Type=oneshot
ExecStart=notify-send -u critical "Restic failed" "%i\nSee: journalctl --user -u %i"
