[Unit]
Description=Restash Backup Timer (sftp)
PartOf=restash.target

[Timer]
Unit=restash-backup@sftp.service
OnCalendar=hourly
RandomizedDelaySec=5min
Persistent=True

[Install]
WantedBy=restash.target
