[Unit]
Description=Restic Repository Check Timer (b2)
PartOf=restic.target

[Timer]
Unit=restic-check@b2.service
OnCalendar=*-*-1/3
RandomizedDelaySec=15min
Persistent=True

[Install]
WantedBy=restic.target
