[Unit]
Description=Restash Backup Timer (b2)
PartOf=restash.target

[Timer]
Unit=restash-backup@b2.service
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=True

[Install]
WantedBy=restash.target
