[Unit]
Description=Restash Backup (%i)
OnFailure=restash-notify@%p@%i.service
PartOf=restash.target

[Service]
Type=oneshot
ExecStart=/bin/sh -l -c 'exec restash %i backup --no-scan'
Environment=LOCK_TIMEOUT=3600 RETRY_MAX=3 RETRY_DELAY=60
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=6
Restart=no
