[Unit]
Description=Restash Maintenance Timer (sftp)
PartOf=restash.target

[Timer]
Unit=restash-maintenance@sftp.service
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=True

[Install]
WantedBy=restash.target
